# === FTDI FT2232H (RS-485/422) + FT232R (System Controller) ===
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_GENERIC=y

# USB Hub Microchip USB2517I -- nur XHCI, kein OHCI/EHCI
CONFIG_USB_OHCI_HCD=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_HUB_USB251XB=y
