# === Intel Atom E3845 / Bay Trail ===
CONFIG_SMP=y
CONFIG_NR_CPUS=4

# Intel Gen7 Grafik
CONFIG_DRM=y
CONFIG_DRM_I915=y
CONFIG_FB_EFI=y

# ACPI / Power Management
CONFIG_ACPI=y
CONFIG_ACPI_BATTERY=y
CONFIG_CPU_FREQ=y
CONFIG_INTEL_IDLE=y

# LPC Bus (für FPGA-Anbindung)
CONFIG_LPC_ICH=y
